h1, h2{
    background: blue;
    color: white;
}
h3{
    color: red;
}
h4{
    color:black;
    background:skyblue;
}
*{
    margin: 0px;
    padding: 0px;
    }
    
.layout{
    height:900px;
    width: 1000px;
    background: greenyellow;
margin: auto;
}
.header{
    height:150px;  
    width: 1000px;
    float: left;
    background: yellow;

}
.logo{
    height: 150px;
    width: 250px;
    background:white ;
    float: left;
}
.logo img{
    height: 150px;
    width: 250px;
}
.socialmedia{
    height: 100px;
    width:750px;
    text-align: center;
    float: left;
    background: burlywood;
}
.nav{
    background:blue;
    text-align: center;
    color: white;
}
.menu{
    height:50px;
    width:750px;
    float: left;
}

.menu ul li{
    float: left;
    display:block;
    width:180px;
    height:20px;
    margin-top: 10px;
    padding-top: 5px;
    background:yellow;
    text-align: center;
}
.menu ul li:hover{
    background:orange;
    border: solid orangered 5px;
    border-radius:10px;
    padding-top:5px;

}
 
.container{
    height:600px;
    width: 1000px;
    background:palegoldenrod;
    float: left;
}
.sidebar1{
    height: 600px;
    width:250px;
    background:green;
    float:left;

}
.form{
    position: absolute;
    top:180px;
    left: 220px;

}
.hero-btn1{
    background:skyblue;
    padding: 10px;
    position: absolute;
    top:270px
}
.hero-btn2{
    background:skyblue;
    padding: 10px;
    margin:20px;
    position: absolute;
    top: 250px;
    left: 80px;
    width: 40px;
}
.sidebar2{
    height: 600px;
    width:250px;
    background:green;
    float:right;
    text-align: center;
    }
    .content{
        height: 600px;
        width: 500px;
        background: yellowgreen;
        float: left;
    }
   .one{
        
            background-color: violet;
            height: 150px;
            width:300px;
            position: absolute;
            left:600px;
            bottom:300px;
            border: solid black 3px;
    
        }
    .two{
        
            background-color:aqua;
            height:200px;
            width:300px;
            position: absolute;
            left: 450px;
            bottom:200px;
            text-align: center;
            color: black;
            border: solid black 3px;
            border-radius: 20px;
    }
.footer{
    height:150px;
    width: 1000px; 
    float: left;
}